.contact-add-new {
    margin-bottom: $xl-size;
    padding: $m-size 0;
    border-bottom: 3px solid $border-color;
}

.notification {
    max-width: 40rem;
    margin: $m-size auto;
    margin-top: -$m-size;
    padding: 0 $m-size;
}

.centered {
    text-align: center;
}