.footer {
    background-color: #222;
    color: $off-grey;
    position: absolute;
    left: 0;
    bottom: 0;
    height: $xxl-size;
    width: 100%;
    overflow: hidden;
    text-align: center;
    padding-top: $m-size;
}